.back{
	margin:0;
	padding:0;
  
	position:relative;
	width:100%;
	height:100vh;
	background: url(https://istrumno.sirv.com/p/Projeto%20Riders.jpg);
	background-size:100%;
  }
  .back:before{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:0px;
	background: url(https://wallpaperaccess.com/full/126895.jpg);
	background-size:100%;
	opacity:.5;
	mix-blend-mode:hard-light;
  }
  .back:hover:before{
	animation:animate .2s linear infinite;
  }
  @keyframes animate{
	  0%{
	  background-position: 0 0;
	  filter:hue-rotate(0deg);
	  }
	  10%{
	  background-position: 5px 0;
	  }
	  20%{
	  background-position: -5px 0;
	  }
	  30%{
	  background-position: 15px 0;
	  }
	  40%{
	  background-position: 5px 0;
	  }
	  50%{
	  background-position: -25px 0;
	  }
	  60%{
	  background-position: -50px 0;
	  }
	  70%{
	  background-position: 0 -20px;
	  }
	  80%{
	  background-position: -60px -20px;
	  }
	  81%{
	  background-position: 0 0;
	  }
	  100%{
	  background-position: 0 0;
	  filter:hue-rotate(360deg);
	  }
  }


  * {
    margin: 0; 
      padding: 0;
      box-sizing: border-box;
  }

  body {
    margin:0;  
	position:relative;
    padding: 30px; 
    font-family: "Helvetica Neue", helvetica, arial; 
    background: url('https://subtlepatterns.com/patterns/white_carbonfiber.png');
  }

  #container {
      position: relative;
      width: 940px;		
  }

  #container:after {
      content: "";
      display: block;
      clear: both;
      height: 0;
  }

  #menu {
      position: relative;
      float: left;
      width: 100%;
      padding: 0 20px;
      border-radius: 3px;
      box-shadow: inset 0 1px 1px black (255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.15), 0 1px 3px rgba(0,0,0,.15);
      background: black; 
  }

  #menu, #menu ul {
      list-style: none;
  }

  #menu > li {
      float: left;
      position: relative;
      border-right: 1px  rgba(0,0,0,.1);
      box-shadow: 1px 0 0 black (255,255,255,.25);
      perspective: 1000px;
      
  }

  #menu > li:first-child {
      border-left: 1px black (255,255,255,.25);
      box-shadow: -1px 0 0 rgba(0,0,0,.1);
  }

  #menu a {
      display: block;
      position: relative;
      z-index: 10;
      padding: 13px 20px 13px 20px;
      text-decoration: none;
      color: rgba(255,255,255,.9);
      line-height: 1;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: -.05em;
      background: transparent;		
      text-shadow: 0 1px 1px rgba(255,255,255,.15)
      transition: all .25s ease-in-out;
  }
  
  #menu > li:hover > a {
      background: #333;
      color: rgba(0,223,252,1);
      text-shadow: none;
  }

  #menu li ul  {
      position: absolute;
      left: 0;
      z-index: 1;
      width: 200px;
      padding: 0;
      opacity: 0;
      visibility: hidden;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      background: transparent;
      overflow: hidden;
      transform-origin: 50% 0%;
  }


  #menu li:hover ul {
      
      padding: 15px 0;
      background: #333;
      opacity: 1;
      visibility: visible;
      box-shadow: 1px 1px 7px rgba(0,0,0,.5);
      animation-name: swingdown;
      animation-duration: 1s;
      animation-timing-function: ease;

  }

  @keyframes swingdown {
      0% {
          opacity: .99999;
          transform: rotateX(90deg);
      }

      30% {			
          transform: rotateX(-20deg) rotateY(5deg);
          animation-timing-function: ease-in-out;
      }

      65% {
          transform: rotateX(20deg) rotateY(-3deg);
          animation-timing-function: ease-in-out;
      }

      100% {
          transform: rotateX(0);
          animation-timing-function: ease-in-out;
      }
  }

  #menu li li a {
      padding-left: 15px;
      font-weight: 400;
      color: #ddd;
      text-shadow: none;
      border-top: dotted 1px transparent;
      border-bottom: dotted 1px transparent;
      transition: all .15s linear;
  }

  #menu li li a:hover {
      color: rgba(0,223,252,1);
      border-top: dotted 1px rgba(0,0,0,.5);
      border-bottom: dotted 1px rgba(0,0,0,.5);
      background: rgba(0,223,252,.02);
  }
  Center{
    align-items: center;
  }

  .lion{
   
  }
  